footer
  .container.text-center
    p.float-left © 2019 HOPE Academy, Inc. All Rights Reserved
    if !user
      ul.float-right.list-inline
        li.list-inline-item
          a(href='/overview') Admin